
<div class="wrapperContainerSala" id="wrapperContainerSala{{this.id}}">
    <p>Horário: {{this.horario}}</p>
    <div>
        <p>Paciente Fixo</p>
        <select id="pacienteFixo{{this.id}}">
            <option value="0">Não</option>
            <option value="1">Sim</option>
        </select>
    </div>
    <div class="buttonDiv">
        <input id="nomeEvent{{this.id}}" placeholder="Nome" type="text" required/>
        <button onclick="returnName('{{this.id}}', '{{this.horario}}', '{{this.dia}}')">Ocupar Sala</button>
    </div>
</div>
