
<div class="wrapperContainerSala" id="wrapperContainerSala{{this.id}}">
    <p>Horário: {{this.horario}}</p>
    <div class="buttonDiv">
        <input id="nomeEvent{{this.id}}" placeholder="Nome" type="text" required/>
        <button onclick="returnName('{{this.id}}', '{{this.horario}}')">Ocupar Sala</button>
    </div>
</div>
